/* src/components/Login.css */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/3607424.jpg');
  background-size: cover;
  background-position: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: 'Arial, sans-serif';
  color: #f0ffff;
}


.ant-input,
.ant-input-password,
.ant-checkbox-wrapper,
.ant-btn {
  font-family: 'Arial, sans-serif';
}

.ant-btn-primary {
  background: linear-gradient(to right, rgb(244, 3, 172), rgb(8, 126, 210));
  border: none;
}
.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid azure;
}